[include]
  path = ./config.local

[core]
  pager = delta
  commentChar = ";"

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[commit]
  gpgSign=true

[pull]
  rebase=false

[tag]
  gpgSign=true

[user]
  email=10217028+Maverick1872@users.noreply.github.com
  name={{ .name }}
  
[push]
  autoSetupRemote = true

[spr]
  requiretestplan = false

