{{ $name := promptString  "What is your name" "Jonathon Terry" -}}
{{ $isPersonalMachine := promptBool  "Is this a personal machine" false -}}
{{ $registries := promptString "Configure any GitHub Package Organizations" }}
{{ $registriesList := splitList " " $registries }}
{{ $githubToken := (get (bitwardenFields "item" "GitHub") "Access Token").value }}

[data]
  isPersonalMachine = {{ $isPersonalMachine }}

[data.github]
  token = {{ $githubToken | quote }}
  registries = {{ $registriesList | toToml }}

[data.git]
  name = {{ $name | quote }}
  signingkey = "some secret key"
