[data.github]
  token = "some secret token"
  registries = [ "clearbanc" ]

[data.git]
  {{ $name := promptString  "What is your name" "Jonathon Terry"  -}}
  name = "{{ $name }}"
  signingkey = "some secret key"
