{{ $name := promptString  "What is your name" "Jonathon Terry" -}}
{{ $isPersonalMachine := promptBool  "Is this a personal machine" false -}}
# {{ $githubToken := (get (bitwardenFields "item" "GitHub") "Package Access Token").value }}
{{ $registries := promptString "Configure any GitHub Package Organizations" }}

[data]
  isPersonalMachine = {{ $isPersonalMachine }} 

[data.github]
  token = {{ defaults $githubToken "replace-me" }}
  registries = [{{ splitList " " $registries }}]

[data.git]
  name = {{ $name | quote }}
  signingkey = "some secret key"
