{{- if hasKey .github "token" }}
//npm.pkg.github.com/:_authToken={{ github.token }}
{{- end -}}

{{- if hasKey .github "registries" }}
{{- range .github.registries }}
@{{ . }}:registry=https://npm.pkg.github.com/
{{- end -}}
{{- end -}}
