{{- if hasKey . "registries" }}
//npm.pkg.github.com/:_authToken={{ (get (bitwardenFields "item" "GitHub") "Access Token").value }}

{{- range .github.registries }}
@{{ . }}:registry=https://npm.pkg.github.com/
{{- end -}}
{{- end -}}
