#! /bin/bash
{{- if eq .chezmoi.os "darwin" }}
which -s brew
if [[ $? != 0 ]] ; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{- end }}
