{{- $headless := not (any (env "CI") (env "HEADLESS") (env "GITHUB_ACTIONS") (env "CODESPACES")) -}}

{{ $name := false -}}
{{ $isPersonalMachine := false -}}
{{ $registries := false -}}
{{ $githubToken := false -}}
{{ $installRust := false -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if $headless -}}
{{- writeToStdout "Interactive configuration generation\n" -}}
{{- $name = promptString "Desired git author name" -}}
{{- $isPersonalMachine = promptBool  "Is this a personal machine" -}}
{{- $registries = splitList " " (promptString "Configure any GitHub Package Organizations") }}
{{- else -}}
{{- $name = "Jonathon Terry" -}}
{{- $isPersonalMachine = false -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  name = {{ $name | quote }}
  isPersonalMachine = {{ $isPersonalMachine }}
  {{ if and ($registries) ( first $registries ) -}}
    registries = {{ $registries | toToml }}
  {{ end -}}
  osID = {{ $osID | quote }}
  installRust = {{ $installRust }}

