bootstrap/
.config/nvim/.lazy-lock.json

{{- if contains "darwin" .osID }}
## Mac System Ignores
.chezmoiscripts/arch/**
.chezmoiscripts/debian/**
.config/awesome
.config/rofi
.config/X11
{{- end }}

{{- if contains "linux" .osID }}
## Global Linux System Ignores
.config/iterm
.chezmoiscripts/mac/**
{{- end }}

{{- if contains "arch" .osID }}
## Arch System Ignores
.chezmoiscripts/debian/**
{{- end }}

{{- if (or (contains "debian" .osID) (contains "ubuntu" .osID)) }}
## Debian System Ignores
.chezmoiscripts/arch/**
{{- end }}

