[commit]
    gpgSign=true

[pull]
    rebase=false

[tag]
    gpgSign=true

[user]
    email=10217028+Maverick1872@users.noreply.github.com
    name={{ .name }}
    signingkey={{ default "replace-me-with-secret" .name }}
[push]
    autoSetupRemote = true
