export ZSH_THEME="personal"
export RPROMPT_MODE=2
export USER_BIN="$HOME/bin"
export MANPAGER="nvim +Man!"
export MANWIDTH=999
export EDITOR="nvim"
export VISUAL="nvim"

{{- if eq .osID "linux-arch" }}
export OS="arch"
export AWESOME_CONFIG=$HOME/.config/awesome
export XINITRC=$HOME/.config/X11/xinitrc
{{- end }}

{{- if contains "darwin" .osID }}
export OS="mac"
{{- end }}

