{{- if contains "arch" .osID -}}
#!/usr/bin/env bash

## Update all currently installed packages
sudo pacman -Syuq --noconfirm --needed

## Add bare minimum base pkgs
## archfile hash: {{ include "bootstrap/archfile" | sha256sum }}
sudo pacman -Sq --noconfirm --needed - < ./bootstrap/archfile

## Install YAY (AUR Helper)
which yay
if [[ $? != 0 ]] ; then
  git clone --quiet https://aur.archlinux.org/yay-bin.git # Get yay source (AUR helper)
  cd yay-bin && makepkg -si --noconfirm # build and install yay
  yay --version
fi

## Install all yay pkgs
## yayfile hash: {{ include "bootstrap/yayfile" | sha256sum }}
yay -Sq --noconfirm --needed - < ./bootstrap/yayfile

## Install Rust Stable
rustup toolchain install stable

{{- end }}
